.video__iframes {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  position: relative;
}

.video__iframe:first-child {
  padding-right: 10px;
}

.video__iframe:last-child {
  padding-left: 10px;
}
