.footer__column-link {
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  list-style: none;
  text-align: left;
  color: inherit;
  /* blue colors for links too */
  text-decoration: inherit;
  opacity: 1;
  transition: opacity 0.7s ease-in-out;
}

.footer__column-link:hover {
    opacity: 0.3;
}
