
.header__title {
    margin: 0;
    width: 730px;
    line-height: 96px;
    font-size: 102px;
    font-weight: bold;
    margin-left: 64px;
    align-self: center;
    background-color: transparent;
    z-index: 1;
}
