.kaufman__triangle {
  width: 660px;
  height: 636px;
  position: absolute;
  right: -124px;
  z-index: 0;
  background-image: url("images/kaufman-triangle.svg");
  animation: rotation 20s linear  infinite;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
