@import url(/styles/animations.css);
.kaufman__triangle {
  width: 660px;
  height: 636px;
  position: absolute;
  right: -124px;
  z-index: 0;
  background-image: url(kaufman-triangle.svg);
  animation: rotation 20s linear  infinite;

}
