@keyframes rotation {
  from {
    transform: rotate(-15deg);
  }

  to {
    transform: rotate(345deg);
  }
}

.kaufman__triangle {
  animation: rotation 20s linear  infinite;
}

.header__square-pic {
  animation: rotation 20s linear  infinite;
}
