.page {
  min-width: 1100px;
  /* we don't know how to make mobile versions of websites yet, */
  /* so here we've set a minimum page width */
  max-width: 1600px;
  /* here we've set a maximum page width */
  margin: 0 auto;
  /* this ensures that all content is centered on screens wider than 1600px */
  font-family: "Helvetica Neue", Arial, sans-serif;
}

.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  /* parameters for the header section */
  background-color: #f2f2f2;
  display: flex;
  position: relative;
}

.header__column {
  display: flex;
  flex-direction: row;
  background-color: transparent;
  z-index: 2;
}

.logo {
  width: 154px;
  height: 31px;
  z-index: 99;
}

.header__title {
  margin: 0;
  width: 730px;
  line-height: 96px;
  font-size: 102px;
  font-weight: bold;
  margin-left: 64px;
  align-self: center;
  background-color: transparent;
  z-index: 1;
}

.logo_place_header {
  width: 154px;
  height: 31px;
  position: absolute;
  left: 64px;
  top: 30px;
}

.header__subtitle {
  margin: 0;
  padding: 0;
  width: 388px;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  position: absolute;
  left: 64px;
  bottom: 30px;
  background-color: transparent;
  z-index: 2;
}

.header__link {
  text-decoration: none;
  color: #2f80ed;
}

.header__main-illustration {
  width: 756px;
  height: 608px;
  right: 0;
  bottom: 0;
  position: absolute;
  background-color: transparent;
  z-index: 1;
}

/* here we have two examples of selectors in order to remind you how to set styles for elements */

.header__square-pic {
  height: 568px;
  width: 568px;
  background-color: #2f80ed;
  position: absolute;
  right: 0;
  top: 64px;
  z-index: 0;
}

.description {
  margin: 0 auto;
  padding-top: 100px;
  padding-bottom: 100px;
}

.two-columns {
  display: flex;
  justify-content: space-between;
  padding-left: 100px;
  padding-right: 100px;
}

.two-columns__brief {
  all: initial;
  color: #2f80ed;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  width: 175px;
}

.two-columns__main-text {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.two-columns__paragraph {
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

.two-columns__paragraph:last-child {
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  margin-bottom: 0;
}

.two-columns__span-accent {
  line-height: 34px;
  font-size: 24px;
  font-weight: bold;
}

.digits {
  margin-bottom: 100px;
  margin-right: 100px;
  margin-left: 100px;
  height: auto;
  display: flex;
  flex-direction: column;
}

.section-title {
  all: initial;
  position: relative;
  width: 60%;
  line-height: 69px;
  font-size: 60px;
  padding-bottom: 20px;
  font-weight: bold;
  align-self: center;
  text-align: center;
  width: 60%;
}

.section-subtitle {
  all: initial;
  position: relative;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  align-self: center;
  text-align: center;
  width: 60%;
}

.table {
  margin-right: auto;
  margin-left: auto;
  width: 1100px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-self: center;
}

.table__heading {
  all: initial;
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

.table__text {
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
}

.table__cell {
  width: 250px;
  margin-top: 60px;
}

.feynman {
  height: 790px;
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  text-align: center;
  background-color: #f2f2f2;
  z-index: 0;
}

.fenyman__title {
  line-height: 1.15;
  font-size: 120px;
  font-weight: bold;
  width: 775px;
  z-index: 99;
  align-self: center;
  text-align: center;
  background-color: transparent;
}

.feynman__subtitle {
  line-height: 51px;
  font-weight: normal;
  font-size: 36px;
  z-index: 99;
  text-align: center;
  background-color: transparent;
}

.fenyman__link {
  line-height: 51px;
  font-weight: normal;
  font-size: 36px;
  color: #2f80ed;
  position: absolute;
  right: 48px;
  top: 50%;
}

.fenyman__image {
  width: 867px;
  height: 637px;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1;
  background-image: url(/images/feynman.png);
}

.kaufman {
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;
  background-color: #1f1f1f;
}

.section-title__theme_dark {
  line-height: 69px;
  font-size: 60px;
  width: 60%;
  font-weight: bold;
  color: #f2f2f2;
  text-align: center;
  align-self: center;
  margin-top: 90px;
  margin-bottom: 0;
  z-index: 1;
  align-items: center;
}

.section-subtitle__theme_dark {
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  color: #f2f2f2;
  width: 60%;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 0;
  z-index: 1;
  align-self: center;
}

.table__heading-theme_dark {
  line-height: 1.15;
  font-weight: bold;
  font-size: 24px;
}

.table__text-theme_dark {
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
}

.table_dark {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 1100px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 90px;
}

/* including elements with key-value modifiers */

.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
  background-color: transparent;
  z-index: 1;
}

.kaufman__triangle {
  width: 660px;
  height: 636px;
  position: absolute;
  right: -124px;
  z-index: 0;
  background-image: url("/images/kaufman-triangle.svg");
}

.footer {
  background-color: #1f1f1f;
  color: #f2f2f2;
  padding-bottom: 40px;
  min-height: 350px;
  display: flex;
  box-sizing: border-box;
}

.footer__columns {
  display: flex;
  width: 90%;
  margin-right: auto;
  margin-left: auto;
}

.footer__column_content_copyright {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 5;
}

.footer__column_content_about {
  flex-direction: column;
  justify-content: flex-start;
  flex: 2;
}

.footer__column-heading {
  all: initial;
  color: #f2f2f2;
  line-height: 30px;
  font-size: 18px;
  font-weight: bold;
}

.footer__column-link {
  line-height: 30px;
  font-size: 18px;
  padding-top: 20px;
  font-weight: normal;
  list-style: none;
  text-align: left;
  color: inherit; /* blue colors for links too */
  text-decoration: inherit; /* no underline */
}

.footer__column_content_social {
  flex-direction: column;
  justify-content: flex-start;
  flex: 1;
}

.logo_place_footer {
  width: 183px;
  height: 35px;
}

.footer__social-icons {
  width: 16px;
  height: 16px;
  padding-right: 10px;
}

.footer__author {
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  padding-bottom: 18px;
  padding-top: 18px;
}
