.page {
  min-width: 1100px;
  /* we don't know how to make mobile versions of websites yet, */
  /* so here we've set a minimum page width */
  max-width: 1600px;
  /* here we've set a maximum page width */
  margin: 0 auto;
  /* this ensures that all content is centered on screens wider than 1600px */
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  /* parameters for the header section */
  background-color: #f2f2f2;
}
/* 
div {
  border-style: solid;
  border-width: 1px;
} */

.header__column {
  /* border-style: solid;
  border-width: 1px;
  border-color: aqua;    */

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height:100%;
  width: 50%;
}

.logo_place_header {
  z-index: 99;
  width: 154px;
  height: 31px;
}

.logo {
  width:154px;
  height: 31px;
  z-index: 99;
}

.header__flex-column-item_top {
  margin-top: 30px;
  margin-left: 64px ;
}

.header__flex-column-item_bottom {
  margin-bottom: 30px;
  margin-left: 64px ;
}


.header__title {
  width: 730px;
  line-height: 96px;
  font-size: 102px;
  font-weight: bold;
  z-index: 99;
  margin-left: 64px ;
}

.header__subtitle {
  width: 388px;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  z-index: 99;
}

.header__link {
  text-decoration: none;
  color: #2F80ED;
}

.header__main-image {
  width: 756px;
  height: 608px;
  z-index: 99;
  right:0 ;
}

.flex-row {
  display: flex;
  position: relative;
}

/* here we have two examples of selectors in order to remind you how to set styles for elements */
.header__square-pic {
  height: 568px;
  width: 568px;
  background-color: #2F80ED;
  position: absolute;
  right: 0;

}


.description {
  
  /* border-style: solid;
  border-width: 1px;
  border-color: red;    */

  margin-top: 100px;
  margin-bottom: 100px;
  margin-right: 100px;
  margin-left: 100px;
  min-width: 784px;
  display: flex;
  justify-content: center;

}


.description__brief {
  color: #2F80ED;
  width: 175px;
}

.description__two-columns {
  display: flex;
  justify-content: space-between;
  
}

.description__column-right{

  flex-direction: column;
  width: 80%;
  height: fit-content;
  justify-content: space-between;

  /* border-style: dotted;
  border-width: 1px;
  border-color: blue;   */
}

.description__column-left{
  width: 20%;
}
/* 
.description__column-paragraph-row-up {
  margin: auto;
}

.description__column-paragraph-row-middle {
  margin: auto;
}

.description__column-paragraph-row-bottom {
  margin: auto;
} */

.description__brief-text {
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
}

.description__main-text {
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

.description__span-accent {
  line-height: 34px;
  font-size: 24px;
  font-weight: bold;
}

.digits {
   
  /* border-style: solid;
  border-width: 1px;
  border-color: red;    */

  margin-top: 100px;
  margin-bottom: 100px;
  margin-right: 100px;
  margin-left: 100px;
  height: auto;
  display: flex;
  flex-direction: column;
  
}

.section-title {
  line-height: 69px;
  font-size: 60px;
  font-weight: bold;
  align-self: center;
}

.section-subtitle {
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  align-self: center;
  margin-top: 20px;
  margin-bottom: 60px;
}

.section-title__box {
  display: flex;
  flex-direction: column;
  align-self: center;

  /* border-style: solid;
  border-width: 1px;
  border-color: blue;    */
  width: 60%;

}

.table {
  /* border-style: solid;
  border-width: 1px;
  border-color: pink;   */

  margin-right: auto;
  margin-left: auto;
  width: 1100px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-self: center;
}

.table__heading {
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

.table__text {
  line-height: 1.2;
  font-size:18px;
  font-weight: normal;
}

.table__text-source {
  margin-top: 20px;
}

.table__cell{
  width: 250px;
}

.table__cell-second {
  margin-top: 30px;
}

.table__cell-first {
  margin-bottom: 30px;
}

.feynman {

  /* border-style: solid;
  border-width: 1px;
  border-color: pink;   */

  height: 790px;
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
}

 /* div {
  border-style: solid;
  border-width: 1px;
  border-color: red;  
 } 
 img {
  border-style: solid;
  border-width: 1px;
  border-color: red;  
 } */
 
.fenyman__title {
  line-height: 1.15;
  font-size: 120px;
  font-weight: bold;
  width: 775px;
  z-index: 99;
  text-align: center; 
  
}

.feynman__subtitle {
  line-height: 51px;
  font-weight: normal;
  font-size: 36px;
  z-index: 99;
  text-align: center;
}

.fenyman__link {
  line-height: 51px;
  font-weight: normal;
  font-size: 36px;
  color: #2F80ED;
  position: absolute;
  right: 48px;
  top: 50%;
}

.fenyman__image {
  width: 867px;
  height: 637px;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -1;
  background-image: url(/images/feynman.png); 
}


.kaufman {
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;
  background-color: #1f1f1f;
  z-index: -1;
}

.section-title__box_theme_dark {
  width: 100%;
}

.section-title_theme_dark {
  line-height: 69px;
  font-size: 60px;
  font-weight: bold;
  color:#f2f2f2;
  text-align: center;
  margin-top: 90px;
  margin-bottom: 0;
  width: 60%;
}

.section-subtitle_theme_dark{
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  color: #f2f2f2;
  width: 60%;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 0;
}

.table__heading_theme_dark {
  line-height: 1.15;
  font-weight: bold;
  font-size: 24px;
  margin-bottom: 20px;
}

.table__text_theme_dark {
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
}

.table_dark {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 1100px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 90px;

}

/* including elements with key-value modifiers */
.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
}

.kaufman__triangle {
  width: 660px;
  height: 636px;
  position: absolute;
  right: -124px;
  z-index: -1;
}


.footer {
  background-color: #1f1f1f;
  color: #f2f2f2;
  min-height: 350px;
}

.footer__columns {
  display: flex;
  align-content: center;
  width: 90%;
  margin-right: auto;
  margin-left: auto;
  
  
}

.footer__columns_left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 50%;
  flex-basis: 711px;
  
}

.footer__columns_right {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 50%;
  flex-basis: 711px;
  
}


.footer__column_content_social{
}

.footer__column_content_about{
  display: flex;
  flex-direction:column;
  margin-right: 120px;
}


.footer__column-heading {
  margin-bottom: 20px;
  line-height: 30px;
  font-size: 18px;
  font-weight: bold;
}

.logo__place_footer {
  width: 183px;
  height: 35px;
}

.footer__column_content_copyright {
  margin-bottom: 18px;
  margin-top: 18px;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  display: flex;
}

.footer__list {
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  list-style: none;
  padding: 0;
}

.footer__column-link {
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
}

.footer__social-icons {
  width: 16px;
  height: 16px;
}
