.page {
  min-width: 1100px;
  /* we don't know how to make mobile versions of websites yet, */
  /* so here we've set a minimum page width */
  max-width: 1600px;
  /* here we've set a maximum page width */
  margin: 0 auto;
  /* this ensures that all content is centered on screens wider than 1600px */
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  /* parameters for the header section */
}

.logo {
  
  height: 31px;
  width: 154px;
}

.logo_place_header {
  position: absolute;
  top: 30px;
  left: 64px;
  z-index: 99;
}

.header__title{
  position: relative;
  width: 730px;
  display: flex;
  top: 40%;
  line-height: 96px;
  font-size: 102px;
  font-weight: bold; 
  margin-left: 64px;
  z-index: 99;
}

.header__subtitle {
  position: absolute;
  z-index: 0;
  line-height: 25px;
  font-size: 18px;
  width: 388px;
  font-weight: normal;
  bottom: 30px;
  left: 64px;
}

.header__main_picture {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 756px;
  height: 606px;
  z-index: 99;
}

/* here we have two examples of selectors in order to remind you how to set styles for elements */
.header__square-pic {
  position: absolute;
  height: 568px;
  width: 568px;
  background: #2F80ED;
  right: 0;
  top: 64px;
  z-index: 0;
}

/* including elements with key-value modifiers */
.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
}

.description {
  
}

.two-columns {
  position: relative;
  min-width: 784px;
  display: flex;
}

.flex-column_first {
  width: 175px;
}

.flex-column {
  flex-direction: column;
  justify-content: space-between;
  width: 80%;
}

.description__brief {
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  color: #2F80ED;
}

.description_text {
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

.span-accent {
  font-weight: bold; 
}
